mixin feature(title, text)
	.col.s4: .card: .card-content
		h5= title
		p= text


doctype html
html
	head
		title Wellopp
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet' href='./css/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:300|PT+Sans', type="text/css")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		include include/tracking.jade
		
	body
		include sections/nav.jade
		.container
			.parallax-container.hide-on-small-only
				.parallax
					img(src='./img/promedica.jpg')
				.center(style='position: absolute;bottom: 0px; width:100%; background:rgba(0,0,0,0.4)')
					h4.white-text About us
			.parallax-container.hide-on-med-and-up
				.parallax
					img(src='./img/promedica_small.jpg')
				.center(style='position: absolute;bottom: 0px; width:100%; background:rgba(0,0,0,0.4)')
					h4.white-text About us

			.speak.white-text(style='background: #2196f3; border-color: #2196f3')
				h4 Digital Humanism

			p The era of "Meaningful Use" brought the healthcare industry a flood of information technology.  However, the technology was not designed with the patients or the care providers in mind.  It was designed to facilitate a complicated fee-for-service billing model. To make matters worse, it created a world where data entry can dominate the caregivers professional life.  

			p At Wellopp, we believe that healthcare technology must bring patients and caregivers closer together, not disconnect them from one another.  It must alleviate caregiver burdens, not make them even more cumbersome.  It must improve patient outcomes, not produce data that only increases costs.  

			p Digital Humanism is the belief that the only worthy digital health solutions are those that focus on the Quadruple Aim and the patient-centered future of healthcare. 

			br

			.speak.white-text(style='background: #ff9800; border-color: #ff9800')
				h4 What We Do

			p Hospital readmissions cost our nation's healthcare systems a staggering $25 billion annually. For a variety of reasons, patients consistently fail to follow the care plan delivered during their discharge from the hospital. The failure may be related to comprehension, distraction, economic circumstances, education level or even language-related issues. We have proven that by creating eciencies for providers, standardizing the care transition process, and providing deeper social health intelligence you limit preventable readmissions and increase patient satisfaction.

			.row
					+feature('Assess', 'We Capture health literacy, learning style, and psychosocial risk.')
					+feature('Educate', 'We deliver engaging triple sensory self-care media to the bedside.')
					+feature('Evaluate', 'We break down and cross-index clinical, social, claims, and public record data.')
					+feature('Interview', "We use what we've learned to produce real-time motivational interviewing scripts.")
					+feature('Personalize', "We guide patients into shared goal agreements that build confidence in recovery")
					+feature('Program', "We reward patients that follow their care plan and intervene with those who don't")

		
		include sections/footer.jade

		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
		script(src='./js/main.js')