section(style='padding: 60px 0px 60px 0px; width: 100%;')
	.container
		.row
			.col.l6.s12

				h4 Contact Us
				p.flow-text We'd love to hear from you! Schedule a demo or share your experiences with us.
			.col.l6.s12: .row
				.input-field.col.s12.l6
					input(type='text' id='name')
					label(for='name') Name
				.input-field.col.s12.l6
					input(type='email' id='email')
					label(for='email') Email
				//.input-field.col.s12
					input(type='text' id='organization')
					label(for='organization') Organization
				.input-field.col.s12
					textarea.materialize-textarea(id='message')
					label(for='message') Message
				.input-field.col.s12
					a.btn.right.grey-text Submit					