footer.page-footer.grey.lighten-3
	.container
		.row
			.col.s12.l6(style='padding: 15px')
				img(src='./img/logo_grey.svg' width='150')
				//br
				//label Wellness = Opportunity

				.social
					a(href=''): img(src='./img/facebook-logo-button.svg')
					a(href=''): img(src='./img/twitter-logo-button.svg')
					a(href=''): img(src='./img/linkedin-logo-button.svg')

			.col.s6.l3
				h5 Links
				ul
					li: a(href='#') Home
					li: a(href='#') Products
					li: a(href='#') Blog
			.col.s6.l3
				h5 Company
				ul
					li: a(href='#') About
					li: a(href='#') Team
					li: a(href='#') Careers
			//.col.s6.l3
				h5 Social
				ul
					li: a(href='#') Twitter
					li: a(href='#') LinkedIn
					li: a(href='#') Facebook

	.footer-copyright.grey.lighten-3.grey-text
		.container
			&copy; 2016 Wellopp