mixin links
	li: a(href='/') Home
	li: a(href='products.html') Products
	li: a(href='about.html') About
	//li: a(href='team.html') Team

nav.tall.transparent: .container: .nav-wrapper
	a(href='index.html').brand-logo: img(src='./img/logo.svg')
	a.button-collapse(href='#' data-activates='side-nav')
		i.material-icons menu
	ul#top-nav.right.hide-on-med-and-down
		+links
	ul#side-nav.side-nav
		+links