//background-image: url(http://website.wellopp.com/wp-content/uploads/2014/03/bg1a.jpg);
//background: -webkit-linear-gradient(45deg,#8a2a82 0,#e05c5c 100%);
section.white-text(style='width: 100%; background-image: url(./img/sky2.jpg); background-size: cover; background-position: 50% 80%; padding: 60px 0px 80px 0px')
	.container
		.row
			.col.s4
				.card.hoverable
					.card-image
						img(src='./img/dd_small.jpg')

			.col.s4
				.card.hoverable
					.card-image
						img(src='./img/cv_small.jpg')

			.col.s4
				.card.hoverable
					.card-image
						img(src='./img/cm2_small.jpg')
							
		.row.center
			h4 Our products work where you do
			p.flow-text From risk analysis, to patient education, to post-acute care, our products cover the entire care continuum. We're crafting a human-focused experience across a variety of settings and devices.

		.row.center
			a(href='./products.html').btn.btn-large.center All Products							