section#stats(style='position:absolute;bottom: 50px; width: 100%')
	.container
		.row.hide-on-med-and-down
			.col.m3.s6: .card.center
				.chart
					.percentage(data-percent='10227' data-bar-color='transparent' data-track-color='transparent')
						span 10227
					p Surveys Taken

			.col.m3.s6: .card.center
				.chart
					.percentage(data-percent='97', data-bar-color='green')
						span 97
						sup %
					p Patient Satisfaction

			.col.m3.s6: .card.center
				.chart
					.percentage(data-percent='75', data-bar-color='orange')
						span 75
						sup %
					p Kittens Saved

			.col.m3.s6: .card.center
				.chart
					.percentage(data-percent='46')
						span 46
						sup %
					p Readmissions reduced

		.row.hide-on-large-only(style='position: absolute; bottom: -40px')
			.col.s12: .card.center
				span 10,227 Surveys Taken
				.progress.transparent
			.col.s12: .card.center
				span 97% Patient Satisfaction
				.progress.transparent
					.determinate.green(style='width:97%')
			.col.s12: .card.center
				span 75% Kittens Saved
				.progress.transparent
					.determinate.orange(style='width:75%')
			.col.s12: .card.center
				span 46% Readmissions Reduced
				.progress.transparent
					.determinate.red(style='width:46%')