//-background-image: url(http://website.wellopp.com/wp-content/uploads/2014/03/bg2a.jpg);
//-background: -webkit-linear-gradient(45deg, rgb(76, 35, 98) 0px, rgb(44, 193, 220) 100%);
section.white-text(style='padding: 60px 0px 80px 0px; width: 100%; background-image: url(./img/father.jpg); background-position: 100% 50%; background-size: cover')
	//-.parallax
		img(src='./img/fishing.jpg')
	.container
		.row
			.col.l6.m8.offset-m2.s12
				.polaroids(style='margin: 20px 50px 0px 50px;')
					img(src='./img/caregivers.jpg' width='100%')

			.col.l6.s12
				h4 From our family to yours
				p.flow-text Headquartered in the Midwest, with offices from coast to coast, our mission is to ensure better outcomes and increase the quality of life for everyone that touches Wellopp.
				//-a(href='./team.html').btn.btn-large Meet the Team