section(style='width: 100%;padding: 60px 0px 80px 0px')
	.container
		.row
			.col.l6.s12
				h4 Better Outcomes, Lower Costs
				p.flow-text We are improving outcomes by engaging each patient with empathy, uncovering their most effective path to wellness.
			.col.l6.s12.center
				iframe(width='460' height='260' style='max-width:100%' src='https://www.youtube.com/embed/EZLcrk0e_9w?autoplay=0&rel=0&showinfo=0&start=131' frameborder='0' allowfullscreen)